<div class="row">
    <div class="col-md-8 col-sm-12 mx-auto">
        <form action="{% url 'search_objects' %}" method="GET">
            <div class="input-group">
                {% for field in form %}
                {% if field.name == 'search' %}
                    <div class="input-group-prepend">
                    {{field}}
                    </div>
                    {% else %}
                    {{field}}
                {% endif %}
                    
                {% endfor %}
            </div>

        </form>
    </div>
</div>