{% extends 'dashboard/dashboard_base.html' %}

{% block title %} پیشخوان | مدیریت مقالات {% endblock title %}
{% block content %}
<table class="table table-borderless table-hover my-table-management">
    <thead>
        <tr class="">
            <th>#</th>
            <th>مقاله</th>
            <th>وضعیت</th>
            <th>ویرایش</th>
            <th>حذف</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr class="" id="article_{{article.id}}_row">
            <td class="align-middle">{{forloop.counter}}</td>
            <td class="align-middle">
                <a href="{{article.get_absolute_url}}" target="_blank"
                    class="text-dark">{{article.title}}</a>
            </td>
            <td class="align-middle">
                <a href="#!" class="p-2 badge {% if article.status == 'published' %} badge-success {% elif article.status == 'draft'%} badge-danger{% endif %}">{{article.get_status_display}}</a>
                
            </td>
            <td class="align-middle">
                <a href="{% url 'edit_article' article.id %}" class="btn btn-outline-secondary">ویرایش</a>
            </td>
            <td class="align-middle">
                <button data-toggle="modal" data-target="#delete_article_modal{{article.id}}" class="btn btn-outline-danger">حذف</button>
            </td>
        </tr>

        <div class="modal fade" id="delete_article_modal{{article.id}}">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title ml-auto">حذف مقاله</h5>
                        <div class="mr-auto">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <p>از درخواست خود برای حذف "{{article.title}}" از مقالات خود مطمئن هستید ؟</p>
                    </div>
                    <div class="modal-footer">
                        <div class="mx-auto">
                            <button data-id="{{article.id}}" data-action="delete_article"  onclick="article_delete_articles_managemnt(this)" class="btn btn-danger mx-1"
                                id="button_delete_article">بلی</button>
                            <button class="btn btn-secondary mx-1" data-dismiss="modal"
                                id="no_button_delete_article">خیر</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </tbody>
</table>
<br>
<br>
<br>
<br>
{% endblock content %}