{% extends 'dashboard/dashboard_base.html' %}

{% block title %} پیشخوان | {% if title_edit %}ویرایش مقاله{% else %}ایجاد مقاله{% endif %} {% endblock title %}
{% block content %}
{% if user_form.errors %}
{% for key, val in user_form.errors.items %}
{% for error_text in val %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>خطا!</strong> {{error_text}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endfor %}
{% endif %}

<form method="POST" action="." enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row justify-content-center">
        <div class="col-md-6">
            {{form.media}}
            {{form.as_p}}

            <button type="submit" class="mt-5 btn btn-primary btn-block rounded-pill btn-lg">ثبت</button>
            <a href="{% url 'articles_management' %}" class="mb-5 btn btn-danger btn-block rounded-pill btn-lg">لغو</a>
        </div>
    </div>

</form>

{% endblock %}