{% extends 'account/dashboard_base.html' %}

{% block title %} پیشخوان {% endblock title %}
{% block content %}
<section class="dashboard-top-cards">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-11 col-md-10 mx-auto">
                <div class="row mb-5">
                    <div class="col-xl-3 col-sm-6 p-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div class="text-secondary">
                                        <h5>دنبال کنندگان</h5>
                                        <h3>{{user_followers_count}}</h3>
                                    </div>
                                    <i class="fal fa-chart-network fa-3x text-secondary"></i>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a class="text-dark text-decoration-none" href="{% url 'followers_management' %}">
                                    <i class="fal fa-chart-network fa-1x ml-3"></i>
                                    <span>مدیریت دنبال کنندگان</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 p-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div class="text-secondary">
                                        <h5>دنبال شوندگان</h5>
                                        <h3>{{user_followings_count}}</h3>
                                    </div>
                                    <i class="fas fa-chart-network fa-3x text-secondary"></i>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a class="text-dark text-decoration-none" href="{% url 'followings_management' %}">
                                    <i class="fas fa-chart-network fa-1x ml-3"></i>
                                    <span>مدیریت دنبال شوندگان</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 p-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div class="text-secondary">
                                        <h5>نظرات دریافتی</h5>
                                        <h3>{{user_articles_comments_count}}</h3>
                                    </div>
                                    <i class="fal fa-comments-alt fa-3x text-secondary"></i>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a class="text-dark text-decoration-none" href="{% url 'get_comments_management' %}">
                                    <i class="fal fa-comments-alt fa-1x ml-3"></i>
                                    <span>مدیریت نظرات دریافتی</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 p-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div class="text-secondary">
                                        <h5>مقالات منتشر شده</h5>
                                        <h3>{{ user_published_articles_count }}</h3>
                                    </div>
                                    <i class="fal fa-edit fa-3x text-secondary"></i>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a class="text-dark text-decoration-none" href="{% url 'articles_management' %}">
                                    <i class="fal fa-edit fa-1x ml-3"></i>
                                    <span>مدیریت مقالات</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="dashboard-users-actions">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-12 mb-4 mb-xl-0">
                <h4 class="text-dark">آخرین فعالیت دوستان</h4>
                {% if actions %}
                <div class="list-group">
                    {% for action in actions %}
                        <a href="{{action.target.get_absolute_url}}" class="my-2 list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{% if action.user.first_name and action.user.last_name %}{{action.user.first_name}} {{action.user.last_name}} {% else %} {{action.user}} {% endif %}</h5>
                                <small>{{action.created|timesince}}</small>
                            </div>
                            <p class="mb-1">
                                {{action.verb}}
                            </p>
                        </a>
                    {% endfor %}
                </div>
                {% else %}
                <h5 class="small">شما هنوز کسی را دنبال نمیکنید یا دنبال شوندگان شما هنوز فعالیتی را آغاز نکردند.</h5>
                {% endif %}
            </div>
            <div class="col-xl-6 col-12">
                <h4 class="text-dark">آخرین فعالیت های من</h4>
                {% if requested_user_actions %}
                <div class="list-group">
                    {% for action in requested_user_actions %}
                        <a href="{{action.target.get_absolute_url}}" class="my-2 list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{% if action.user.first_name and action.user.last_name %}{{action.user.first_name}} {{action.user.last_name}} {% else %} {{action.user}} {% endif %}</h5>
                                <small>{{action.created|timesince}}</small>
                            </div>
                            <p class="mb-1">
                                {{action.verb}}
                            </p>
                        </a>
                    {% endfor %}
                </div>
                {% else %}
                <h5 class="small">شما هنوز فعالیتی را در سامانه نداشتید</h5>
                {% endif %}
            </div>
        </div>
    </div>
</section>





{% endblock content %}