{% extends 'account/dashboard_base.html' %}

{% block title %} پیشخوان | مدیریت دنبال شوندگان {% endblock title %}
{% block content %}
<div class="mb-md-5 text-md-left text-center">
    <a href="{% url 'article:followings_articles' %}" class="ml-md-5 btn btn-success">مقالات دنبال شوندگان</a>
</div>
<table class="table table-borderless table-hover my-table-management">
    <thead>
        <tr class="">
            <th>#</th>
            <th>کاربر</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        {% for following in followings %}
        <tr class="" id="following_{{following.id}}_row">
            <td class="align-middle">{{forloop.counter}}</td>
            <td class="align-middle">
                {% if following.profile.photo %}
                <img src="{{following.profile.photo.url}}" alt="{{following.username}}" class="rounded-circle" width=50
                    height=50>
                {% endif %}
                <a href="{{following.get_absolute_url}}" target="_blank"
                    class="{% if following.profile.photo %}mr-3{% endif %} text-dark">{% if following.first_name and following.last_name %}{{follwer.first_name}}
                    {{following.last_name}}{% else %}{{following.username}}{% endif %}</a>
            </td>
            <td class="align-middle">
                <button data-toggle="modal" data-target="#delete_following_modal{{following.id}}" class="btn btn-outline-danger">حذف</button>
            </td>
        </tr>

        <div class="modal fade" id="delete_following_modal{{following.id}}">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title ml-auto">حذف دنبال شونده</h5>
                        <div class="mr-auto">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <p>از درخواست خود برای حذف {{following.username}} از دنبال شوندگان خود مطمئن هستید ؟</p>
                    </div>
                    <div class="modal-footer">
                        <div class="mx-auto">
                            <button data-id="{{following.id}}" data-action="delete_following"  onclick="follower_delete_followers_managemnt(this)"  class="btn btn-danger mx-1"
                                id="button_delete_following">بلی</button>
                            <button class="btn btn-secondary mx-1" data-dismiss="modal"
                                id="no_button_delete_following">خیر</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </tbody>
</table>
<br>
<br>
<br>
<br>
{% endblock content %}