{% extends 'account/dashboard_base.html' %}

{% block title %} پیشخوان | تنظیمات راهنما {% endblock title %}
{% block content %}
{% if form.errors %}
{% for key, val in form.errors.items %}
{% for error_text in val %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>خطا!</strong> {{error_text}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endfor %}
{% endif %}

<form method="POST" action="{% url 'mentor_setting' %}" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row justify-content-center">
        <div class="col-md-5">
            {{form.as_p}}

            <button type="submit" class="mt-5 btn btn-primary btn-block rounded-pill btn-lg">ذخیره</button>
            <a href="{% url 'dashboard' %}" class="mb-5 btn btn-danger btn-block rounded-pill btn-lg">لغو</a>
        </div>
    </div>
    {% comment %} <input type="hidden" name="next" value="{{ next }}"> {% endcomment %}

</form>
{% endblock content %}