{% extends 'account/dashboard_base.html' %}

{% block title %} پیشخوان | مدیریت درخواست های دریافتی {% endblock title %}
{% block content %}
<table class="table table-borderless table-hover my-table-management">
    <thead>
        <tr class="">
            <th>#</th>
            <th>درخواست دهنده</th>
            <th>وضعیت</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        {% for st_request in user_inbox_requests %}
        <tr class="" id="st_request{{st_request.id}}_row">
            <td class="align-middle">{{forloop.counter}}</td>
            <td class="align-middle"><a href="{{st_request.user_from.get_absolute_url}}"
                    target="_blank">{{st_request.user_from}}</a></td>
            <td>
                <span id="st_request_mentor_status_badge{{st_request.id}}"
                    data-active="{{st_request.approved}}"
                    class="btn p-2 badge {% if st_request.approved == True %} badge-info {% elif st_request.approved == False %} badge-warning{% endif %}">
                    {% if st_request.approved == True %}
                    قبول شده
                    {% elif st_request.approved == False %}
                    قبول نشده
                    {% endif %}
                </span>
            </td>
            <td class="align-middle">
                <button id="mentor_request_accept_button{{st_request.id}}" data-id="{{st_request.id}}" data-action="mentor_accept_request"
                    onclick="st_request_accept_reject_request_managemnt(this)"
                    class="btn p-2 badge badge-success"  {% if st_request.approved == True %} disabled {% endif %}>
                    پذیرفتن
                </button>
                <button id="mentor_request_reject_button{{st_request.id}}" data-id="{{st_request.id}}" data-action="mentor_reject_request"
                onclick="st_request_accept_reject_request_managemnt(this)"
                    class="btn p-2 badge badge-danger"
                    {% if st_request.approved == False %} disabled {% endif %}
                    >
                    نپذیرفتن
                </button>

            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
<br>
<br>
<br>
<br>
{% endblock content %}